.banner{
    align-items: center;
    background: var(--bright-red);
    background-image: url('../../images/bg-simplify-section-desktop.svg');
    background-position: -100% -100%;
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    padding: 0rem 6rem;
    height: 20vh;
}

.banner__title{
    color: var(--vary-light-gray);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5rem;
}

.button__white{
    background: var(--vary-light-gray);
    border-radius: 2rem;
    color: var(--bright-red);
    cursor: pointer;
    font-weight: 500;
    padding: 1rem 2rem;
}

.button__white:hover{
    color: var(--bright-red-light);
}

@media screen and (max-width: 768px) {
    .banner{
        background-image: url('../../images/bg-simplify-section-desktop.svg');
        background-repeat: no-repeat;
        background-position: 20% -0%;
        flex-direction: column;
        justify-content: center;
        margin-top: 2rem;
        padding: 0rem 1rem;
        height: 50vh;
    }

    .banner__title{
        font-weight: 700;
        line-height: 2rem;
        text-align: center;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 375px) {
    .banner{
        background-image: url('../../images/bg-simplify-section-mobile.svg');
        background-repeat: no-repeat;
        background-position: 0% -100%;
        flex-direction: column;
        justify-content: center;
        margin-top: 2rem;
        padding: 0rem 1rem;
        height: 50vh;
    }

    .banner__title{
        font-weight: 700;
        line-height: 2rem;
        text-align: center;
        margin-bottom: 1rem;
    }
}