.header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 3rem 6rem;
}

.header__logo{
    width: 150px;
}

.menu{
    display: flex;
}

.menu__item{
    color: var(--very-dark-blue);
    cursor: pointer;
    padding-left: 2rem;
}

.menu__item:hover{
    color: var(--dark-grayish-blue);
}


.button__orange{
    background: var(--bright-red);
    border-radius: 2rem;
    color: var(--vary-light-gray);
    cursor: pointer;
    padding: 1rem 2rem;

    box-shadow: -3px 11px 5px -3px hsl(12, 82%, 85%);
-webkit-box-shadow: -3px 11px 5px -3px hsl(12, 82%, 85%);
-moz-box-shadow: -3px 11px 5px -3px hsl(12, 82%, 85%);
}

.button__orange:hover{
    background: var(--bright-red-light);
}

#btn__menu{
    font-size: 1.7rem;
    cursor: pointer;
    display: none;
}

#btn__close{
    font-size: 1.7rem;
    cursor: pointer;
    display: none;
}

.back_menu{
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(151, 151, 151, 0.5), rgba(0,0,0,0.5));
    display: none;
    z-index: 0;
}

@media screen and (max-width: 768px){
    .header{
        justify-content: space-between;
        width: 90%;
        padding: 3rem 1rem;
    }
    .nav{
        align-items: center;
        background: var(--vary-light-gray);
        border-radius: 0.2rem;
        display: none;
        justify-content: center;
        margin-top: 20rem;
        padding: 1.5rem 0;
        position: absolute;
        width: 95%;
    }

    .menu{
        color: var(--dark-blue);
        font-weight: 700;
        flex-direction: column;
        line-height: 2rem;
        text-align: center;
    }

    .menu__item{
        padding-left: 0rem;
    }

    .button__header{
        display: none;
    }

    #btn__menu{
        display: flex;
    }
}

@media screen and (max-width:375px){
    .header{
        justify-content: space-between;
        width: 90%;
        padding: 3rem 1rem;
    }
    .nav{
        align-items: center;
        background: var(--vary-light-gray);
        border-radius: 0.2rem;
        display: none;
        justify-content: center;
        margin-top: 70%;
        padding: 1.5rem 0;
        position: absolute;
        width: 90%;
    }

    .menu{
        color: var(--dark-blue);
        font-weight: 700;
        flex-direction: column;
        line-height: 2rem;
        text-align: center;
    }

    .menu__item{
        padding-left: 0rem;
    }

    .button__header{
        display: none;
    }

    #btn__menu{
        display: flex;
    }
}