.header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 3rem 6rem;
}

.menu{
    display: flex;
}

.menu__item{
    color: var(--very-dark-blue);
    cursor: pointer;
    padding-left: 2rem;
}

.menu__item:hover{
    color: var(--dark-grayish-blue);
}


.button__orange{
    background: var(--bright-red);
    border-radius: 2rem;
    color: var(--vary-light-gray);
    cursor: pointer;
    padding: 1rem 2rem;

    box-shadow: -3px 11px 5px -3px hsl(12, 82%, 85%);
-webkit-box-shadow: -3px 11px 5px -3px hsl(12, 82%, 85%);
-moz-box-shadow: -3px 11px 5px -3px hsl(12, 82%, 85%);
}

.button__orange:hover{
    background: var(--bright-red-light);
}
