@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

:root{
    --bright-red: hsl(12, 88%, 59%);
    --dark-blue: hsl(228, 39%, 23%);
    --dark-grayish-blue: hsl(227, 12%, 61%);
    --very-dark-blue: hsl(233, 12%, 13%);
    --very-pale-red: hsl(13, 100%, 96%);
    --vary-light-gray: hsl(0, 0%, 98%);

    --bright-red-light: hsl(12, 82%, 74%);

    --ff-be-vietnam-pro: 'Be Vietnam Pro', sans-serif;
}

body{
    background-image: url('../../images/bg-tablet-pattern.svg');
    background-repeat:no-repeat;
    background-position: 140% -25%;
    font-family: var(--ff-be-vietnam-pro);
}